In [1]:
import sys # 시스템
import os  # 시스템

import pandas as pd  # 판다스 : 데이터분석 라이브러리
import numpy as np   # 넘파이 : 숫자, 행렬 데이터 라이브러리

from bs4 import BeautifulSoup    # html 데이터를 전처리
from selenium import webdriver   # 웹 브라우저 자동화
from selenium.webdriver.common.keys import Keys #javascript같은 동작이 크롤링됨, 단점은 시간이 좀 걸림
import chromedriver_autoinstaller

import time    # 서버와 통신할 때 중간중간 시간 지연. 보통은 1초
from tqdm import tqdm_notebook   # for문 돌릴 때 진행상황을 %게이지로 알려준다.

# 워닝 무시
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('data_merge수정2.csv')

In [3]:
df

,Unnamed: 0,title,directors,actors,plots,genre,runtime,keywords,등급,개봉일,국적,screenCnt,salesAcc,audiAcc
0,0,스왈로 탐험대와 아마존 해적,필립파 로소프,"켈리 맥도날드, 앤드류 스캇, 라페 스펠, 해리 엔필드, 제시카 하인즈",“스왈로 탐험대의 출항을 허가한다”존과 엄마 그리고 동생들은 엄마가 어려서 뛰놀던 ...,어드벤처,97,"여름휴가,외딴섬,아이들,모험,소설원작",전체관람가,2021-09-02,영국,1,5.000000e+04,10
1,1,물괴,허종호,"김명민, 김인권, 혜리, 최우식, 이경영, 박희순, 박성웅, 이도경, 김중희, 이규...",“인왕산에 흉악한 짐승이 나타나 사람을 해쳤다 하옵니다.그것을 두고 듣지도 보지도 ...,액션,105,"조선시대,전염병,괴물,시대극/사극,사투",15세이상관람가,2018-09-12,한국,1183,6.104165e+09,723414
2,2,싱글라이더,이주영,"이병헌, 공효진, 안소희, 잭 캠벨, 양유진, 애니카 화이틀리, 케이 에크룬드, 백...",그가 사라졌다그에게서 모든 것이 사라졌다증권회사의 지점장 강재훈(이병헌). 안정된 ...,드라마,97,"기러기아빠,호주,오스트레일리아,반전,반전영화,동물",15세이상관람가,2017-02-22,한국,576,2.685519e+09,351276
3,3,리즈와 파랑새,야마다 나오코,"타네자키 아츠미, 토야마 나오, 혼다 미유, 후지무라 코노미, 야마오카 유리","“너에겐 날개가 있고, 끝없이 펼쳐진 하늘도 있어” 늘 혼자였던 ‘리즈’ 앞에 어...",애니메이션,90,"십대소녀,단짝친구,외톨이,고3,합주,졸업반,마지막 연주",전체관람가,2018-10-09,일본,214,1.741404e+08,21153
4,4,레드 후드,르네 페르즈,"로버트 앰슬러, 니콜 스탁, 로버트 S. 딕슨, 콜린 허시, 제이슨 제이 프라도",편찮은 할머니를 위해 약을 구해 돌아가던 빨간 모자 소녀는 늑대 모습을 한 기사에게...,판타지,81,"괴물,성에 갇힌 남녀,감옥탈출",15세이상관람가,2018-11-11,미국,1,1.000000e+03,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6376,6376,파라노이아,로버트 루케틱,"리암 햄스워스, 게리 올드만, 앰버 허드, 해리슨 포드, 엠베스 다비츠","유명 첨단 기술회사인 와이어트사 말단직원, 아담 캐시디(리암 헴스워스)는 밑바닥에서...",드라마,106,NaN,15세이상관람가,2014-09-18,미국,1,8.000000e+03,1
6377,6377,춘하추동 로맨스,오창민,"이응재, 최은아, 조석현, 이민아, 이서림, 오대환, 이준혁","Chapter 1 단풍맞이 단합대회 단풍놀이가 한창인 가을, 어설픈 산악인 상...",코미디,100,"고백,허세,내숭,현실연애,옴니버스영화",15세이상관람가,2014-12-04,한국,5,7.368000e+06,1074
6378,6378,4명의 암살자,스텐리 J. 오젤,"미구엘 페러, 윌 윤 리, 메르세데스 레나드","최고의 실력을 가진 청부살인업자인 마커스, 일라이, 코딜리아, 체이스가 홍콩의 한 ...",액션,87,NaN,15세이상관람가,2015-01-05,미국,2,3.200000e+04,4
6379,6379,변종샤크,그리프 퍼스트,"크리스티 스완슨, D.B. 스위니",돌연변이 상어의 무차별 공격이 시작된다!벗어날 수 없는 죽음의 공포... 피할 곳은...,SF,89,"돌연변이,공격,상어,죽음,자연",15세이상관람가,2014-12-11,미국,5,1.708000e+06,426
6380,6380,터널 3D,박규택,"정유미, 연우진, 송재림, 정시연, 손병호, 이시원, 이재희, 도희, 우희, 정진,...","재벌 2세인 기철의 권유로 최고급 리조트 여행을 떠난 5명.기철, 영민, 유경, 세...",공포(호러),86,"실종,터널,3D",15세이상관람가,2014-08-20,한국,264,6.208740e+08,80989

In [4]:
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

In [ ]:
star_buzz = []

# 스크롤을 밑으로 내려주는 함수
def scroll_down(driver):
    driver.execute_script("window.scrollTo(0, 19431049)")
    time.sleep(1)


for ind in df.index[4234:4300]:
    actor = df['actors'][ind].split(',')
    actor = actor[:5]
    
    act_cnt = []
    
    df['개봉일'] = pd.to_datetime(df['개봉일'])
    
    end_date = df['개봉일'][ind] - relativedelta(days=1) 
    end_date = end_date.strftime('%Y%m%d') 

    start_date = df['개봉일'][ind] - relativedelta(months=1) 
    start_date = start_date.strftime('%Y%m%d') 

    
    for a in actor:
        query_txt = (df['title'][ind] + a).strip()
        
        chrome_path = chromedriver_autoinstaller.install()
        driver = webdriver.Chrome(chrome_path)
        # 사이트 주소는 네이버
        url = f'https://search.naver.com/search.naver?where=blog&query={query_txt}&sm=tab_opt&nso=so:r,p:from{start_date}to{end_date}'
        driver.get(url)
        time.sleep(2) 
        

        #last_height = driver.execute_script("return document.body.scrollHeight")
        #driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        #driver.execute_script("window.scrollTo(0, 45465413211321);")
        #time.sleep(1)
        
      
        
        articles = ".api_txt_lines.total_tit"
        article_raw = driver.find_elements_by_css_selector(articles)
        
        if not article_raw:
            act_cnt.append(0)
        else:
            n = 20  # 스크롤 1번 당 30개씩
            i = 0
            while i < n: # 이 조건이 만족되는 동안 반복 실행
                scroll_down(driver) # 스크롤 다운
                i = i+1
            
            articles = ".api_txt_lines.total_tit"
            article_raw2 = driver.find_elements_by_css_selector(articles)
            
            act_cnt.append(len(article_raw2))
    
    star_buzz.append(sum(act_cnt))

In [8]:
star_buzz

[53,
 322,
 117,
 405,
 1925,
 81,
 35,
 56,
 1,
 398,
 253,
 5,
 750,
 77,
 80,
 11,
 649,
 61,
 8,
 25,
 33,
 285,
 4,
 278,
 0,
 22,
 65,
 2,
 0,
 0,
 435,
 94,
 7,
 137,
 22,
 1040,
 66,
 20,
 881,
 742,
 15,
 0,
 997,
 14,
 580,
 1507,
 25,
 166,
 17,
 338,
 67,
 3150,
 19,
 842,
 414,
 395,
 917,
 121,
 1271,
 76,
 35,
 135,
 217,
 24,
 558,
 9,
 304,
 49,
 55,
 240,
 244,
 1445,
 103,
 425,
 1960,
 10,
 319]

In [9]:
starbuzz_list = star_buzz

In [10]:
import csv
with open('star_buzz.csv', 'w', newline='') as f: 
    writer = csv.writer(f) 
    writer.writerow(starbuzz_list)